# Configuración general
HOST=0.0.0.0
PORT=8000
ENVIRONMENT=development

# Base de Datos (opciones: sqlite | postgresql)
DATABASE_TYPE=sqlite
SQLITE_DB_PATH=./whatsapp_events.db

# Credenciales requeridas únicamente si DATABASE_TYPE=postgresql
DB_HOST=
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=

